<template>
  <PageContainer>
    <a-table
      :loading="listData.loading"
      :data-source="listData.data"
      :row-selection="{ selectedRowKeys: listData.selectedRowKeys, onChange: onSelectChange }"
      :columns="columns"
      :pagination="{
        pageSize: pageInfo.pageSize,
        total: listData.total,
        onChange: handlePageChange,
      }"
    />
  </PageContainer>
</template>
<script setup lang="ts">
import { onMounted, reactive, h } from 'vue';
import { Table, Tag } from 'ant-design-vue';
import { getArticleList } from '@/services/article';
const statusMap = {
  publish: '已发布',
  draft: '草稿',
};
const columns = [
  {
    title: '标题',
    dataIndex: 'title',
  },
  {
    title: '状态',
    dataIndex: 'status',
    customRender: ({ text }) => {
      return h(Tag, () => statusMap[text]);
    },
  },
  {
    title: '分类',
    dataIndex: 'category.label',
    customRender: ({ text, record }) => {
      // console.log(record);
      // <a-tag color="red">{{record?.category?.label}}</a-tag>
      return record?.category
        ? h(
            Tag,
            {
              color: 'red',
            },
            {
              default: () => record?.category?.label,
            },
          )
        : null;
    },
  },
  {
    title: '标签',
    customRender: ({ text, record }) => {
      // console.log(record);
      // <a-tag color="red">{{record?.category?.label}}</a-tag>
      return record.tags.map(item =>
        h(
          Tag,
          { color: 'blue' },
          {
            default: () => item?.label,
          },
        ),
      );
    },
  },
  {
    title: '阅读量',
    dataIndex: 'views',
  },
  {
    title: '喜欢数',
    dataIndex: 'likes',
  },
  {
    title: '发布时间',
    dataIndex: 'updateAt',
  },
  {
    title: '操作',
    fixed: 'right',
    width: 100,
  },
];
const pageInfo = reactive({
  page: 1,
  pageSize: 5,
});
const listData = reactive({
  data: [],
  total: 0,
  loading: false,
  selectedRowKeys: [],
});
const init = async () => {
  listData.loading = true;
  const {
    data: [lists, total],
  } = await getArticleList(pageInfo);
  listData.loading = false;
  listData.data = lists;
  listData.total = total;
};
// 表格多选
const onSelectChange = () => {
  console.log(11);
};
// 分页改变的

const handlePageChange = (page, pageSize) => {
  // console.log(page, pageSize);
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  init();
};
onMounted(() => {
  init();
});
</script>
<style lang="less"></style>
