/
<template>
  <div ref="charbox" class="chartbox" :style="{ width: width + 'px', height: height + 'px' }"></div>
</template>

<script setup lang="ts">
import * as echarts from 'echarts';
import { defineProps, onMounted, ref, watch, onUnmounted, defineExpose } from 'vue';
const charbox = ref();
const charts = ref();
const props = defineProps({
  width: {
    default: 300,
    type: Number,
  },
  height: {
    default: 150,
    type: Number,
  },
  option: {
    default: () => ({}),
    type: Object,
  },
});

watch(props.option, val => {
  charts.value && charts.value.setOption && charts.value.setOption(val);
});
onUnmounted(() => {
  charts.value.dispose();
});
onMounted(() => {
  // 创建图表实例
  charts.value = echarts.init(charbox.value);

  charts.value.setOption(props.option);
});

defineExpose({
  chartInstance: charts,
  chartDom: charbox,
});
</script>

<style></style>
