<template>
  <div style="margin-right: 12px">
    <a-space>
      <a-dropdown>
        <template #overlay>
          <a-menu @click="handleClick">
            <a-menu-item key="settingUser">
              <template #icon>
                <SettingOutlined />
              </template>
              <span>个人设置</span>
            </a-menu-item>
            <a-menu-item key="outLogin">
              <template #icon>
                <LogoutOutlined />
              </template>
              <span>退出登录</span>
            </a-menu-item>
          </a-menu>
        </template>
        <div class="currentUser-info">
          <span><a-image :src="currentUser?.avatar"></a-image></span>
          {{ currentUser?.name }}
        </div>
      </a-dropdown>
    </a-space>
  </div>
</template>

<script setup lang="ts">
import { Image } from 'ant-design-vue';
import { useRouter } from 'vue-router';
import { UserOutlined, SettingOutlined, LogoutOutlined } from '@ant-design/icons-vue';
import { computed } from 'vue';
const currentUser = computed(() => {
  return JSON.parse(window.localStorage.getItem('userInfo'));
});
const $router = useRouter();
const methods = {
  outLogin() {
    window.localStorage.removeItem('userInfo');
    $router.replace('/login');
  },
  settingUser() {
    console.log('个人设置');
  },
};
const handleClick = (e: any) => {
  methods[e.key] && methods[e.key]();
};
</script>
<style lang="less">
.currentUser-info {
  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
}
</style>
