<template>
  <PageContainer>用户管理</PageContainer>
</template>
<script setup lang="ts">
import { onMounted } from 'vue';
import { getUserList } from '@/services/user';
const init = async () => {
  const data = await getUserList({
    page: 1,
    pageSize: 10,
  });
  console.log(data);
};
onMounted(() => {
  init();
});
</script>
<style lang="less"></style>
