<template>
  <div class="loginContainer">
    <div class="loginLeft">
      <img src="" />
    </div>
    <a-form :model="userForm" class="loginRight" @finish="onFinish">
      <a-form-item label="用户名" name="name" :rules="[{ required: true, message: '请输入用户名' }]">
        <a-input v-model:value="userForm.name" />
      </a-form-item>
      <a-form-item label="密码" name="password" :rules="[{ required: true, message: '请输入密码' }]">
        <a-input v-model:value="userForm.password" />
      </a-form-item>
      <a-form-item>
        <a-button html-type="submit" :loading="loginLoading">登录</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>
<script setup lang="ts">
import { useStorage } from '@vueuse/core';
import { reactive, ref } from 'vue';
import { login } from '@/services/user';
import { useRouter } from 'vue-router';
import { json } from 'stream/consumers';
const loginLoading = ref(false);
const $router = useRouter();
const userForm = reactive({
  name: '',
  password: '',
});
const onFinish = async val => {
  try {
    loginLoading.value = true;
    const { data } = await login(val);
    window.localStorage.setItem('userInfo', JSON.stringify(data));
    $router.push('/');
  } catch (error) {
    console.error(error);
  } finally {
    loginLoading.value = false;
  }
};
</script>
<style lang="less">
.loginContainer {
  width: calc(100vw - 300px);
  height: calc(100vh - 100px);
  min-height: 500px;
  margin: 50px auto;
  background: #fff;
  display: flex;
  .loginLeft,
  .loginRight {
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
  }
}
</style>
