<template>
  <PageContainer>
    <chartCom ref="chartRef" :width="700" :height="400" :option="option1" />
    <button @click="hanldeAdd">update</button>
    <chartCom :width="400" :height="800" :option="option2" />
    <a-card title="最新评论">
      <div v-for="val in data.CommentList" :key="val.id" class="carParent">
        <p>
          {{ val.name }} 在
          <a-button type="link">文章</a-button>
          评论
          <a-button type="link">查看内容</a-button>
          {{ val.pass ? '通过' : '未通过' }}
        </p>
        <div>
          <a-button v-for="item in CommentOptions" :key="item.key" type="link" @click="item.onClick($event, val)">
            {{ item.title }}
          </a-button>
        </div>
      </div>
    </a-card>
  </PageContainer>
</template>

<script lang="ts" setup>
import chartCom from '@/components/chartCom/index.vue';
import { Card, Button, message } from 'ant-design-vue';
import { getCommentList, passComment } from '@/services/comment';
import { getArticleList, getCategoryList } from '@/services/article';
import { reactive, ref, onMounted } from 'vue';
let width = 700;
const data = reactive({
  CategoryList: [],
  CommentList: [],
  ArticleList: [],
});
const CommentOptions = [
  {
    title: '通过',
    key: 1,
    onClick: async (e, { id }) => {
      await passComment(id, {
        pass: true,
      });
      const { data: lists } = await getCommentList({ page: 1, pageSize: 6 });
      data.CommentList = lists[0];
      message.success('评论已通过');
    },
  },
  {
    title: '拒绝',
    key: 2,
    onClick: () => {
      console.log('拒绝');
    },
  },
  {
    title: '回复',
    key: 3,
    onClick: () => {
      console.log('回复');
    },
  },
  {
    title: '删除',
    key: 4,
    onClick: () => {
      console.log('删除');
    },
  },
];
const chartRef = ref();
const option1 = reactive({
  xAxis: {
    type: 'category',
    data: ['123', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
  },
  yAxis: {
    type: 'value',
  },
  series: [
    {
      data: [150, 230, 224, 218, 135, 147, 260],
      type: 'bar',
    },
  ],
});
const option2 = {
  xAxis: {
    type: 'category',
    data: ['123', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
  },
  yAxis: {
    type: 'value',
  },
  series: [
    {
      data: [150, 230, 224, 218, 135, 147, 260],
      type: 'line',
    },
  ],
};

const hanldeAdd = () => {
  option1.xAxis.data.push(Math.random().toString().slice(3, 6));
  option1.series[0].data.push(Math.random().toString().slice(3, 6));
  width += 10;
  chartRef.value.chartDom.style.width = width + 'px';
  chartRef.value.chartInstance.resize({
    width,
  });
  console.log(option1);
};
const init = async () => {
  const [{ value: CommentList }, { value: ArticleList }, { value: CategoryList }] = await Promise.allSettled([
    getCommentList({ page: 1, pageSize: 6 }),
    getArticleList({ page: 1, pageSize: 6 }),
    getCategoryList(),
  ]);
  data.CommentList = CommentList?.data[0];
  data.ArticleList = ArticleList?.data[0];
  data.CategoryList = CategoryList?.data;
};

onMounted(() => {
  init();
});
</script>
<style lang="less">
.carParent {
  display: flex;
  justify-content: space-between;
}
</style>
